.wrapper {
  margin: 0 120px;
}

.top {
  padding: 66px 0 65px;
  background: #05276f;
}
.top_title {
  font-weight: 500;
  font-size: 80px;
  line-height: 94px;
  color: #ff6e00;
  margin-bottom: 21px;
}

.top_desc {
  font-weight: 300;
  font-size: 40px;
  line-height: 47px;
  color: #ffffff;
  margin-bottom: 99px;
}

.top_img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tests {
  padding: 60px 120px;
  display: flex;
  justify-content: center;
}

.right_block {
  display: block;
}
.question_link {
  background: #05276f;
  border-radius: 15px;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #ff6e00;
  padding: 15px 45px;
  cursor: pointer;
}

.question_link-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
